.home-body {
height: 3130px;
}

.title {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
z-index: 5;

font-family: 'Josefin Sans';
font-size: 130px;
color: white;
text-shadow: 0px 0px 10px white;
letter-spacing: 50px;
}

.dark-curtain-1 {
position: absolute;
top: 0px;
width: 100vw;
height: 900px;
opacity: .5;
background: -webkit-linear-gradient(top, #6b0000, white);
}

.text {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
width: 80vw;
z-index: 5;

font-family: georgia;
font-size: 17px;
color: black;
text-shadow: 0px 0px 1px gray;
letter-spacing: 3px;  
}

.text-back-1 {
position: absolute;
text-align: center;
top: 100%;
width: 100vw;
height: 300px;
z-index: 5;
background-color: #fff9f2;
box-shadow: 0 0 10px black; 
}

.image-one {
position: absolute;
background-image: url('./images/Heart - Sketch 01.png');
background-size: cover;
background-position: center;
top: 130%;
width: 100vw;
height: 500px;
box-shadow: 0 0 10px black; 
background-attachment: fixed;  
}

.text-back-2 {
position: absolute;
text-align: center;
top: 191%;
width: 100vw;
height: 900px;
z-index: 5;
background-color: #fff9f2;
box-shadow: 0 0 10px black; 
}

.quote {
position: absolute;
top: 60px;
left: 50%;
transform: translate(-50%);
width: 80vw;
z-index: 5;

font-family: georgia;
font-size: 17px;
color: black;
text-shadow: 0px 0px 1px gray;
letter-spacing: 3px;  
}

.pic-one {
position: absolute;
background-image: url('./images/Anatomy - Sketch 02.jpg');
background-size: cover;
top: 300px;
left: 15%;
width: 300px;
height: 497px;
box-shadow: 0 0 5px black;
/*transform: rotate(3deg);*/
}
.pic-two {
position: absolute;
background-image: url('./images/Anatomy - Sketch 03.jpg');
background-size: cover;
top: 300px;
left: 40%;
width: 300px;
height: 497px;
box-shadow: 0 0 5px black; 
}
.pic-three {
position: absolute;
background-image: url('./images/Anatomy - Sketch 04.jpg');
background-size: cover;
top: 300px;
left: 65%;
width: 300px;
height: 497px;
box-shadow: 0 0 5px black; 
}

.button-1 {
cursor: pointer;
position: absolute;
left: 50%;
transform: translate(-50%);
top: 107%;
z-index: 5;

font-family: 'Josefin Sans';
font-size: 20px;
color: white;
text-shadow: 0px 0px 10px white;
letter-spacing: 10px;
}
.button-2 {
cursor: pointer;
position: absolute;
left: 50%;
transform: translate(-50%);
top: 107%;
z-index: 5;

font-family: 'Josefin Sans';
font-size: 20px;
color: white;
text-shadow: 0px 0px 10px white;
letter-spacing: 10px;
}
.button-3 {
cursor: pointer;
position: absolute;
left: 50%;
transform: translate(-50%);
top: 107%;
z-index: 5;

font-family: 'Josefin Sans';
font-size: 20px;
color: white;
text-shadow: 0px 0px 10px white;
letter-spacing: 10px;
}
.dark-curtain-2 {
position: absolute;
bottom: 0px;
width: 100vw;
height: 200px;
opacity: .3;
z-index: -5;
background: -webkit-linear-gradient(bottom, #6b0000, transparent);
}

.home-footer {
position: absolute;
top: 345%;
width: 100vw;
height: 350px;
z-index: 5;
background-color: #fff9f2;
box-shadow: 0 0 10px black; 
}

.dark-curtain-3 {
position: absolute;
width: 100vw;
height: 100%;
opacity: .6 ;
z-index: -5;
background: -webkit-linear-gradient(bottom right, #6b0000, black);
}