@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.footer {
  background:black;
  height:40px;
  width:100%;
}

.textFooter{
  position: relative;
  left: 40px;
  top:50%;
  transform: translate(0%, -50%);
  font-family: 'Josefin Sans';
  color:white;
  opacity: .6;
  font-size: 10px;
  letter-spacing: 4px;
  text-transform: uppercase;
}