
.input-input {
height: calc(193.8vh - 40px);
width: 100%;
padding: 1.5%;
background: -webkit-linear-gradient(top, rgba(107, 0, 0, .5), rgba(107, 0, 0, .5), rgba(0, 0, 0, 0.8));
background-size: cover;
}

.input-intro {
margin-top: -1.5%;
margin-left: -1.6%;
height: 100vh;
border: 1px solid black;
box-shadow: inset 0 0 10px black;
opacity: .7;
background-image: url('./images/Cells - Blood.jpg');
background-size: cover;
width:103.3%;
}
.input-curtain {
height: 100%;
width: 100%;
background: -webkit-linear-gradient(top, rgba(107, 0, 0, .7), rgba(0, 0, 0, 0.7));
}

.input-boxy-0 {
height: 73vh;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}
/*FIRST MAIN API BOX*/
    .input-boxy-1 {
    height: 100%;
    width: 50%;
    margin-top: 3%;
    display: inline-block;
    border: 1px solid black;
    box-shadow: 0 0 5px black;
    background: -webkit-linear-gradient(right, rgba(107, 0, 0, .3), rgba(0, 0, 0, 0.3));
    }

    .input-boxy-11 {
    width: 100%;
    }
    .input-bar {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    width: 85%;
    margin: 1.5%;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow: 0 0 7px white;
    font-size: 17px;
    }
    .input-bar:focus {
    outline: none;
    }
    .input-button-1 {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid black;
    font-size: 13px;
    letter-spacing: 1px;
    outline: none;
    }
    .input-button-1:hover {
    background-color: gray;   
    }
    .input-list {
    width: 100%;
    height: 93.3%;
    padding: 1.5%;
    overflow-y: scroll;
    }

    .food-list {
    font-family: 'Josefin Sans';
    text-transform: uppercase;
    font-size: 13px;
    line-height: 2;
    color: white;
    letter-spacing: 1px;
    }

    .list-border{
    cursor: pointer;
    border-bottom: 1px solid black;
    }
/*SECOND MAIN API BOX*/
    .input-boxy-2 {
    height: 100%;
    width: 50%;
    margin-top: 3%;
    margin-left: 1%;
    display: inline-block;
    /*border: 1px solid black;
    box-shadow: 0 0 5px black;
    background-color: rgba(107, 0, 0, .3);*/
    }
    .input-boxy-21 {
    height: 50%;
    width: 100%;
    padding: 1%;
    overflow-y: scroll;
    font-family: 'Josefin Sans';
    font-size: 13px;
    color: white;
    letter-spacing: 1px;
    line-height: 2;
    border: 1px solid black;
    box-shadow: 0 0 5px black;
    text-transform: uppercase;
    background-color: rgba(107, 0, 0, .3);
    }
    .remove-button {
    cursor: pointer;
    float: right;
    margin-right: 1%;
    border: 1px solid black;
    background-color: transparent;
    }
    .remove-button:hover {
    background-color: gray;   
    }
    .input-size{
    width: 5%;
    margin-left: 1%;
    margin-right: 1%;
    border: 1px solid black;
    padding-left: 1%;
    background-color: white;
    font-family: 'arial';
    color: black;
    }
        .input-boxy-22 {
        height: 47.5%;
        width: 49%;
        padding: 1%;
        margin-top: 2%;
        overflow-y: scroll;
        font-family: 'Josefin Sans';
        font-size: 13px;
        line-height: 2;
        color: white;
        text-transform: uppercase;
        letter-spacing: 1px;
        border: 1px solid black;
        box-shadow: 0 0 5px black;
        background-color: rgba(107, 0, 0, .3);
        display: inline-block;
        margin-right: 1%;
        }
            .input-boxy-maps {
            height: 47.5%;
            width: 49%;
            padding: 1%;
            margin-top: 2%;
            overflow-y: scroll;
            font-family: 'Josefin Sans';
            font-size: 13px;
            line-height: 2;
            color: white;
            letter-spacing: 1px;
            border: 1px solid black;
            box-shadow: 0 0 5px black;
            background-image: rgba(107, 0, 0, .3);
            display: inline-block;
            margin-left: 1%;
            }
            .game-map-title {
            font-family: 'arial';
            border-bottom: 1px solid black;
            margin-bottom: 5px;
            color: white;
            letter-spacing: 1px;
            text-shadow: 0 0 7px white;
            font-size: 17px;
            }
            .input-radio:focus {
            background-color: black;
            }

.first-box {
height: 100%;
width: 50%;
margin-top: 3%;
margin-left: 1%;
display: inline-block;
border: 1px solid black;
box-shadow: 0 0 5px black;
background-image: url('./images/Anatomy - Sketch 09.png');
background-size: cover;
}
.input-curtain-first {
height: 100%;
width: 100%;
background: -webkit-linear-gradient(bottom, rgba(107, 0, 0, .7), rgba(20, 20, 20, 0.9));
}

.first-title {
display: flex;
padding-top: 3.5%;
justify-content: center;
height: 9vh;
width:100%;
font-size: 25px;
border-bottom: 1px solid black;
color: white;
text-shadow: 0 0 7px white;
letter-spacing: 3px;
font-family: 'Josefin Sans';
}

.first-text {
display: flex;
padding-top: 3.5%;
justify-content: center;
height: 9vh;
padding-left: 5%;
padding-right: 5%;
width:100%;
font-size: 13px;
color: white;
letter-spacing: 3px;
font-family: 'Josefin Sans';
text-transform: uppercase;
line-height: 1.2;
}

.input-submit {
display: flex;
justify-content: center;
margin-left: -1.6%; 
height: 9vh;
width:103.3%;
margin-top: 3%;
border: 1px solid black;
box-shadow: 0 0 5px black;
background: -webkit-linear-gradient(right, rgba(107, 0, 0, .3), rgba(0, 0, 0, 0.3));
}

.input-button-2 {
margin-top: .8%;
cursor: pointer;
font-size: 40px;
background-color: transparent;
border: none;
color: white;
letter-spacing: 10px;
font-family: 'Josefin Sans';
transition: letter-spacing 1s ease-in-out;
}