.timeline-body {
height: calc(100vh - 40px);
overflow: auto;
}

 .cd-container{
   position: absolute;
   top: calc(67vh - 40px);
   width:100vw;
   height: 33vh;
   overflow-x: scroll;
   overflow-y:hidden;
   overflow:hidden;
 }

 .timeLineContainer{
   width:24830px;
   height:35vh;
   background:wheat;
   overflow:hidden;
   font-family: 'Josefin Sans';

 }
.yearTextContainer{
 display:table-cell;
}
.timeLineTime{
  height: 40px;
  width: 130px;
  border-right: 1px solid black;
  text-align: center;
  padding-top: 5px;
  overflow-y:hidden;
  overflow:hidden;
  /*font-family: 'Josefin Sans';*/

}
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}
/*.contentContainer{
  overflow-x: scroll;
}*/
.timeLineEvent{
  /*display:table-cell;*/
  padding:5px;
  text-align: center;
  border: 1px solid black;
  margin: 5px;
  font-size: 12px;
  /*font-family: 'Josefin Sans';*/

  /*text-transform: uppercase;*/
}