 /* NEW CSS TEST*/

.timeline-body {
height: calc(100vh - 40px);
overflow:hidden;
}

 .cd-container{
   position: absolute;
   top: calc(67vh - 40px);
   width:100vw;
   height: 33vh;
   overflow-x: scroll;
   overflow-y:hidden;
   overflow:hidden;
 }

 .timeLineContainer{
   width:19100px;
   height:35vh;
   background:wheat;
   overflow:hidden;
 }
.yearTextContainer{
 display:table-cell;
}
.timeLineTime{
  height: 40px;
  width: 100px;
  border-right: 1px solid black;
  text-align: center;
  overflow-y:hidden;
  overflow:hidden;
}
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}
/*.contentContainer{
  overflow-x: scroll;
}*/
.timeLineEvent{
  /*display:table-cell;*/
  padding-left:20px;
  text-align: center;
  /*text-transform: uppercase;*/
}