.game-page {
  margin: 0;
  background: radial-gradient(#871018, #300508);
}

.game-canvas-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.game-canvas {
  position: absolute;
  top: 0;
  left: 0;
}
