.game-page {
  margin: 0;
  height: calc(100vh - 40px);
  background: black;
  overflow: hidden;
}

.game-canvas-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.game-canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0 0 30px black;
}

.heartgif {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width:100px;
}